@*@model IEnumerable<Data.Models.Client>
    @{
        ViewData["Title"] = "Index";
    }
    <h1 class="display-4">
        Список клиентов
    </h1>
    <p>
        <a asp-action="Create">Добавить клиента</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ФИО Клиента
                </th>
                <th>
                    Электронная почта
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Детально</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@


@using HotelIntitity.ViewModels.FilterViewModel.ClientVM
@model IndexViewModel

@{
    ViewData["Title"] = "Index";
}
<h1 class="display-4">
    Список клиентов
</h1>
<p>
    <a asp-action="Create">Добавить клиента</a>
</p>

<form method="get">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">Имя: </label>

            @Html.TextBox("name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })

        </div>
        <label class="control-label">Почта: </label>
        @Html.TextBox("email", Model.FilterViewModel.SelectedEmail, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<br />
<table class="table">
    <tr>
        <th>
            <a asp-action="Index"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Имя</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.EmailSort)"
               asp-route-name="@(Model.FilterViewModel.SelectedName)"
               asp-route-email="@(Model.FilterViewModel.SelectedEmail)">Электронный адрес</a>
        </th>
        <th></th>
    </tr>
    @foreach (Client c in Model.Clients)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.Email</td>

            <td>
                <a asp-action="Edit" asp-route-id="@c.Id">Редактировать</a> |

                <a asp-action="Delete" asp-route-id="@c.Id">Удалить</a>
            </td>

        </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-email="@(Model.FilterViewModel.SelectedEmail)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-email="@(Model.FilterViewModel.SelectedEmail)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}